run =  ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
entrypoint = "main.py"
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:3000 main:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run App"

[[workflows.workflow]]
name = "Run App"
author = 43212240
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[agent]
expertMode = true
